In [36]:
import pandas as pd
import gmaps
import requests
from config import g_key
import numpy as np

In [37]:
city_data_df = pd.read_csv('Resources\weather_data_cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ponta Do Sol,PT,2022-01-23 22:57:55,32.6667,-17.1000,65.71,78,99,5.73
1,1,Hobart,AU,2022-01-23 22:55:26,-42.8794,147.3294,75.02,70,100,1.01
2,2,Butaritari,KI,2022-01-23 22:57:56,3.0707,172.7902,82.24,78,99,17.92
3,3,Hermanus,ZA,2022-01-23 22:54:12,-34.4187,19.2345,68.81,94,52,6.49
4,4,Assiniboia,CA,2022-01-23 22:57:56,49.6334,-105.9845,37.31,86,100,19.57

In [38]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [39]:
print(len(city_data_df))

533

In [40]:
gmaps.configure(api_key=g_key)

In [52]:
# Heatmap of Max Temp
# Get the latitude and longitude
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature
max_temp = city_data_df['Max Temp']

# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.3)

# Assign the heatmap variable using list comprehension for the weights
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False, 
                                 max_intensity=300,
                                 point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [58]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hobart,AU,2022-01-23 22:55:26,-42.8794,147.3294,75.02,70,100,1.01
2,2,Butaritari,KI,2022-01-23 22:57:56,3.0707,172.7902,82.24,78,99,17.92
12,12,Gizo,SB,2022-01-23 22:57:58,-8.1030,156.8419,84.67,74,58,9.26
13,13,Pontianak,ID,2022-01-23 22:57:58,-0.0333,109.3333,75.18,94,40,0.00
16,16,Vaini,TO,2022-01-23 22:57:59,-21.2000,-175.2000,81.23,73,23,9.17
18,18,Alofi,NU,2022-01-23 22:58:00,-19.0595,-169.9187,85.89,70,19,8.05
21,21,Omboue,GA,2022-01-23 22:58:01,-1.5746,9.2618,76.71,86,44,7.67
22,22,Mount Isa,AU,2022-01-23 22:58:01,-20.7333,139.5000,76.77,100,75,8.05
26,26,Nhulunbuy,AU,2022-01-23 22:58:01,-12.2333,136.7667,79.41,94,75,8.05
31,31,Honiara,SB,2022-01-23 22:57:45,-9.4333,159.9500,86.49,70,55,5.95

In [59]:
preferred_cities_df.count()

City_ID       142
City          142
Country       140
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [60]:
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
1       Hobart      AU     75.02 -42.8794  147.3294
2   Butaritari      KI     82.24   3.0707  172.7902
12        Gizo      SB     84.67  -8.1030  156.8419
13   Pontianak      ID     75.18  -0.0333  109.3333
16       Vaini      TO     81.23 -21.2000 -175.2000

In [61]:
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [63]:
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key,
    'location':'48.8566, 2.3522'
}

base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
hotels = requests.get(base_url, params=params).json()

hotels['results'][0]['name']

'Hôtel Duo'

In [65]:
for index, row in hotel_df.iterrows():
    #Get the lat & lng
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url,params=params).json()
    
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [66]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hobart,AU,75.02,-42.8794,147.3294,Mantra on Collins Hobart
2,Butaritari,KI,82.24,3.0707,172.7902,Isles Sunset Lodge
12,Gizo,SB,84.67,-8.1030,156.8419,Imagination Island
13,Pontianak,ID,75.18,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
16,Vaini,TO,81.23,-21.2000,-175.2000,Keleti Beach Resort
18,Alofi,NU,85.89,-19.0595,-169.9187,Taloa Heights
21,Omboue,GA,76.71,-1.5746,9.2618,Hotel Olako
22,Mount Isa,AU,76.77,-20.7333,139.5000,ibis Styles Mt Isa Verona
26,Nhulunbuy,AU,79.41,-12.2333,136.7667,East Arnhem Real Estate
31,Honiara,SB,86.49,-9.4333,159.9500,Heritage Park Hotel

In [68]:
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [70]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [71]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))